<div class="ui grid stackable">
  <div class="three column row">
    <div class="right floated column">
      <div id="sw-members-searcher" class="ui search">
        <div class="ui icon input">
          <input id="searcher" class="prompt" type="text" placeholder="Añadir voluntario...">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
    <div class="left floated column">
      <div id="toggle-buttons" class="ui buttons">
        <button class="ui button" [class.positive]="isFilteredByAssistants" (click)="isFilteredByAssistants = true">asistentes</button>
        <div class="or"></div>
        <button class="ui button" [class.positive]="!isFilteredByAssistants" (click)="isFilteredByAssistants = false">no asistentes</button>
      </div>
    </div>

  </div>
</div>
<div class="table-panel">
  <table id="sw-volunteer-table" class="ui very basic collapsing celled table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Celular</th>
        <th>Equipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let volunteer of volunteers">
        <td *ngIf="checkFilteredView(volunteer)">
          <h4 class="ui image header">
            <img [src]="volunteer.pictureURL" class="ui mini rounded image">
            <div class="content">
              {{volunteer.name}}
            </div>
          </h4>
        </td>
        <td *ngIf="checkFilteredView(volunteer)">
          {{volunteer.email}}
        </td>
        <td *ngIf="checkFilteredView(volunteer)">
          {{volunteer.cellphone}}
        </td>
        <td *ngIf="checkFilteredView(volunteer)">
          {{volunteer.team}}
        </td>
        <td *ngIf="volunteer.attendedTheMeeting && isFilteredByAssistants">
          <a (click)="deleteAssistant(volunteer)">
            <i class="trash alternate outline icon"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>