<div id="login-grid" class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="ui centered card">
      <div class="image">
        <img src="./assets/img/logo.png">
      </div>
      <div class="content">
        <form #loginForm="ngForm" class="ui form" novalidate>
          <div class="field">
            <div class="ui pointing below red label" *ngIf="authService.errorMessage">
              {{authService.errorMessage}}
            </div>
            <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required>
          </div>
          <div class="field">
            <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="password" required>
          </div>
          <div class="ui basic clearing segment">
            <button class="ui positive right floated button" [disabled]="loginForm.invalid" (click)="authService.login(email, password)">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="login-spinner" class="ui basic modal">
  <div class="content">
    <div class="spinner">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>
  </div>
</div>