/* You can add global styles to this file, and also import other style files */
.table-panel {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border: 1px dashed #00b5ad;
  padding: 2%;
  border-radius: 16px;
  border-width: 1.7px;
}

a {
  cursor: pointer;
}

notyf-toast-container {
  position: fixed !important;
}
