<div class="context">
  <div class="ui bottom attached segment pushable">
    <div class="ui inverted left vertical sidebar menu">
      <a class="toggle item" routerLink="/meetings">
        <i class="tasks icon"></i>
        Reuniones & Check In
      </a>
      <a class="toggle item" routerLink="/volunteers">
        <i class="users icon"></i>
        Voluntarios
      </a>
      <a class="toggle item" routerLink="/events">
        <i class="calendar alternate icon"></i>
        Eventos
      </a>
      <a class="toggle item" (click)="authService.logout()">
        <i class="sign out icon"></i>
        Cerrar sesión
      </a>
    </div>
    <div class="pusher">
      <div class="ui teal inverted top attached menu">
        <a class="active toggle icon item">
          <i class="sidebar icon"></i>
        </a>
        <a class="item" routerLink="/meetings">
          Startup Weekend
        </a>
      </div>
      <div class="ui basic segment">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>