<div class="context example">

  <div class="ui bottom attached segment pushable">
    <div class="ui inverted left vertical sidebar menu">
      <a class="item">
        <i class="users icon"></i>
        Staff
      </a>
      <a class="item">
        <i class="tasks icon"></i>
        Check In
      </a>
    </div>
    <div class="pusher">
      <div class="ui teal inverted top attached demo menu">
        <a class="active item">
          <i class="sidebar icon"></i>
          Startup Weekend
        </a>
      </div>
      <div class="ui basic segment">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>