<div id="register-top-segment" class="ui basic clearing segment">
  <div class="ui grid">
    <div class="eight wide column">
      <h1 class="ui header">{{eventName}}</h1>
    </div>
    <div class="eight wide column">
      <button class="ui right floated labeled icon green button" (click)="showRegisterAssistantModal()">
        <i class="plus icon"></i>
        Registrar
      </button>
    </div>
  </div>
</div>

<div class="table-panel">
  <table id="event-assistants-table" class="ui very basic celled table">
    <thead>
      <tr>
        <th>#Ticket</th>
        <th>Check In</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Celular</th>
        <th>Bebida</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let assistant of eventAssistants$ | async">
        <tr>
          <td>
            <label class="mobile-label">#Ticket:</label>
            {{assistant.ticketNumber}}
          </td>
          <td class="collapsing">
            <div class="ui checkbox">
              <input type="checkbox" name="checkin" [checked]="assistant.checkin" (change)="updateAssistant(assistant)">
              <label></label>
              <label class="mobile-label">Check In</label>
            </div>
          </td>
          <td>
            {{assistant.name}}
          </td>
          <td>
            {{assistant.email}}
          </td>
          <td>
            {{assistant.phoneNumber}}
          </td>
          <td>
            {{assistant.drink}}
          </td>
          <td class="collapsing">
            <a (click)="showRegisterAssistantModal(assistant)">
              <i class="edit icon"></i>
            </a>
            <label class="mobile-label">Editar</label>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>


<div *ngIf="currentAssistant" id="register-assistant-modal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">{{currentAssistant.id ? 'Editar registro' : 'Registrar asistente'}}</div>
  <div class="content">
    <form #registerAssistantForm="ngForm" class="ui form" novalidate>
      <div class="field">
        <label>Número de ticket</label>
        <input type="text" name="ticket" placeholder="Ticket" [(ngModel)]="currentAssistant.ticketNumber">
      </div>
      <div class="field">
        <label>*Nombre Completo</label>
        <input type="text" name="name" placeholder="Nombre" [(ngModel)]="currentAssistant.name" required>
      </div>
      <div class="field">
        <label>Email</label>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="currentAssistant.email">
      </div>
      <div class="field">
        <label>Celular</label>
        <input type="tel" name="cellphone" placeholder="Celular" [(ngModel)]="currentAssistant.phoneNumber">
      </div>
      <div class="field">
        <label>Bebida</label>
        <select id="drink-select" class="ui dropdown" name="drink" [(ngModel)]="currentAssistant.drink">
          <option value="">Selecciona una bebida</option>
          <option value="Frappe Capuccino - Mokaccino Menta (Frío)">Frappe Capuccino - Mokaccino Menta (Frío)</option>
          <option value="Frappe Capuccino - Dulce de Leche (Frío)">Frappe Capuccino - Dulce de Leche (Frío)</option>
          <option value="Mokaccino Menta (Caliente)">Mokaccino Menta (Caliente)</option>
          <option value="Capuccino - Dulce de Leche (Caliente)">Capuccino - Dulce de Leche (Caliente)</option>
          <option value="Capuccino - Italiano (Caliente)">Capuccino - Italiano (Caliente)</option>
        </select>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" [checked]="currentAssistant.checkin" (change)="currentAssistant.checkin = !currentAssistant.checkin">
          <label>Check In</label>
        </div>
      </div>
      <div class="ui basic clearing segment">
        <button *ngIf="currentAssistant.id" class="ui negative left floated icon button" (click)="showDeleteAssistantModal()">
          <i class="icon trash"></i>
        </button>
        <button class="ui positive right floated button" [disabled]="registerAssistantForm.invalid" (click)="saveAssistant()">Guardar</button>
        <button class="ui black right floated button" (click)="hideRegisterAssistantModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="currentAssistant" id="confirm-delete-assistant-modal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Eliminar asistente
  </div>
  <div class="content">
    <p>Estás a punto de eliminar a {{currentAssistant.name}} de la lista de registros, ¿estás seguro?</p>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      No
    </div>
    <div class="ui positive right labeled icon button" (click)="deleteCurrentAssistant()">
      Si
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>