<div class="ui stackable link cards centered row">

  <div *ngFor="let volunteer of volunteers$ | async" class="ui card">
    <div class="image">
      <img class="small" src="./assets/img/no-photo.jpeg">
    </div>
    <div class="content">
      <a class="header">{{volunteer.name}}</a>
      <div class="meta">
        <a>{{volunteer.team}}</a>
      </div>
    </div>
    <div class="ui grid extra content">
      <span class="row">
        <i class="envelope icon"></i>
        {{volunteer.email}}
      </span>
      <span class="row">
        <i class="phone icon"></i>
        {{volunteer.cellphone}}
      </span>
    </div>
  </div>

  <div class="ui card" (click)="openAddVolunteersModal()">
    <div class="image">
      <img class="small" src="./assets/img/add.png">
    </div>
    <div class="content">
      <a class="header">Agregar voluntario</a>
    </div>
  </div>

</div>

<div class="ui modal">
  <div class="header">Agregar un nuevo voluntario</div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Nombre Completo</label>
        <input type="text" name="name" placeholder="Nombre">
      </div>
      <div class="field">
        <label>Email</label>
        <input type="email" name="email" placeholder="Email">
      </div>
      <div class="field">
        <label>Celular</label>
        <input type="tel" name="cellphone" placeholder="Celular">
      </div>
      <div class="field">
        <label>Equipoc</label>
        <select class="ui dropdown">
          <option value="">Selecciona un equipo</option>
          <option value="Logistics">Logística</option>
          <option value="Design">Diseño</option>
          <option value="Dev">Desarrollo</option>
        </select>
      </div>
      <button class="ui black button">Cancelar</button>
      <button class="ui positive button" type="submit">Guardar</button>
    </form>
  </div>
</div>